@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

$font-dir: "/fonts/";


@font-face {
    font-family: 'Roobert-SemiBold';
    src:
        url("#{$font-dir}Roobert-SemiBold.woff2") format("woff2"),
        url("#{$font-dir}Roobert-SemiBold.woff") format("woff"),
        url("#{$font-dir}Roobert-SemiBold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

$font-color: #000;

$title-font-family: "Roobert-SemiBold", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$alt-font-family: 'IBM Plex Mono', monospace;

$base-font-size: 1.125rem; 
/* 18 px */
